include header


div(class="admin-order")
    h1 Admin-panel
    h2 Order-information
    table
     tr
      th id
      th Дата
      th Id Пользователя
      th Id Товара
      th Стоимость
      th Количество
      th Итого
      th Пользователь
      th Телефон
      th Адрес и комментарий
     each val, index in order
      tr 
       td #{val['id']}
       td #{val['human_date']}
       td #{val['user_id']}
       td #{val['goods_id']}
       td #{val['goods_cost'].toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$& ')} BLR
       td #{val['goods_amount']}
       td #{val['total'].toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$& ')} BLR
       td #{val['user']}
       td #{val['phone']}
       td #{val['address']}
   
link(rel='stylesheet', href='/css/style.css')